.list{
    background-color: lightcoral;
    width: 70%;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:stretch;
    padding:20px;
    color:black;
   
}

.list h3{
    font-size:30px;
}
Icon{
    font-size: 100px;
}